body {
  background-image: url("../images/background.png");
}

.container {
  height: 50%;
  width: 40%;
  padding: 20px;
  margin: 10px;
  background-color: white;
}
.portfolio-container {
  height: 50%;
  width: 60%;
  padding: 20px;
  margin: 10px;
  background-color: white;
}

.my-picture {
  float: left;
  width: 200px;
  margin: 10px;
}

.about-me {
  color: teal;
}
